.changedSelect {
  display: flex;
  justify-content: space-between;
  width: min(240px, 100%);
  margin: 0 auto 1rem;
}

.changedSelectSingle {
  cursor: pointer;
}

.changedSelectSingleRed {
  cursor: pointer;
  text-decoration: underline 2px #c41e3b;
}

.changedSelectSingleYellow {
  cursor: pointer;
  text-decoration: underline 2px #fff468;
}

.changedSelectSingleBlue {
  cursor: pointer;
  text-decoration: underline 2px #2359ff;
}
