.cellWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellStyle {
  height: 38px;
  width: 38px;
  border-radius: 5px !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cellButtonStyle {
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 2rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 100;
}

.cellButtonStyle:focus {
  outline: none;
  box-shadow: none;
}

.cellPointsStyle {
  background-color: #000;
  border: #333;
  border-radius: 3px !important;
  bottom: -5px;
  cursor: pointer;
  font-size: 11px;
  padding: 0 3px;
  position: absolute;
  right: -5px;
  user-select: none;
}

.tooltipStyle {
  left: 50px;
  top: 50px;
  max-width: 15rem;
  min-width: 10rem;
  color: yellow;
  position: absolute;
  display: block;
  border: 1px solid black;
  background-color: red;
  z-index: 1000;
}

.cellHighlight {
  position: absolute;
  height: 44px;
  width: 44px
}